[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* IMAGE STYLES */
  [type=radio] + img {
    cursor: pointer;
  }
  
  /* CHECKED STYLES */
  [type=radio]:checked + img {
    border: 5px solid #B0121A;
    border-radius: 30px;
    width: 17rem;
    /* transition: border .2s ease-in-out;
    transition: width .2s ease-in-out;  */
  }

  [type=radio] + img {

    /* transition: border 0.2s ease-in-out, border-radius 0.3s ease-in-out, width 0.3s ease-in-out; */
  }