[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* IMAGE STYLES */
  [type=radio] + img {
    cursor: pointer;
  }
  
  /* CHECKED STYLES */
  [type=radio]:checked + img {
    border: 5px solid #B0121A;
    border-radius: 30px;
    width: 17rem;
    transition: border 0.1s ease-in-out; /* Transition for the border property */
    transition: width 0.1s ease-in-out; /* Transition for the border property */
  }